@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap');


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Quicksand;
}

:root{
    --primary-color:#FF6F61;
    --primary-color-bright:#f3583c;
    --secondary-color:#FFD166;
    --white:#fff;
    --btn-bright:#2a86f0;
    --btn-light:#4A90E2;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: Lora;
}

h1{
    font-size: 3.125rem;
}

.hero-p{
    font-size: 1.8rem;
}

.container{
    width: 90%;
    margin: auto;
}

.flex{
    display: flex;
    }

.justify-center{
        justify-content:center ;
    }

.justify-between{
        justify-content:space-between ;
    }

.align-center{ align-items: center;}

.text-primary{color:var(--primary-color);}
.text-secondary{color: var(--secondary-color);
font-size: 1.4rem;
font-weight: 600;}

.btn-primary{
    display: inline-block;
    background-color: var(--btn-light);
    padding: 1rem 2rem;
    color: var(--white);
    font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: rgba(16, 121, 201, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: 0.1s ease-in;
    border: none;
    font-size: 1rem;
 }

 .btn-primary:hover{
    background-color: var(--btn-bright);
 }

